@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Roboto:wght@400;500&display=swap');

body {
    background-color: #0f172a;
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

.profile-shadow {
    box-shadow: 0 0 40px -10px rgba(59, 130, 246, 0.3);
}

.img-card {
    aspect-ratio: 1 / 1;
    transition: all 0.3s ease;
}

.img-card:hover {
    transform: scale(1.03);
    border-color: #3b82f6;
}