@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@400;500&display=swap');

body {
    background-color: #0f172a;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

/* Definición de la Animación de Flotado */
@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}